<section>
  <nav class="navbar navbar-light" style="background-color: #cad2c5;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../assets/box.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Pedidos
      </a>
      <a class="navbar-brand" href="#">
        <img
          src="../assets/card-checklist.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Facturas
      </a>
      <a class="navbar-brand" href="#">
        <img
          src="../assets/currency-dollar.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Ventas
      </a>
      <a class="navbar-brand" href="#">
        <img
          src="../assets/boxes.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Almacen
      </a>
    </div>
  </nav>
</section>
<section>
  <div class="form-registro">
    <h4>Agregar una Factura</h4>
    <label class="labels" for="codigo">Codigo</label>
    <input class="controls" type="number" id="codigo" placeholder="codigo de Factura"[(ngModel)]="factura.codigo"/>
    
    <label class="labels" for="DNI">DNI del Cliente</label>
    <input class="controls" type="text" id="DNI" placeholder=" Ingrese el DNI" [(ngModel)]="factura.DNI"/>

    <label class="labels" for="formaPay"> Forma de Pago</label>
    <input class="controls" type="text" id="formaPay" placeholder=" ingrese la forma de pago" [(ngModel)]="factura.formaPay"/>

    <label class="labels" for="fecha">Fecha </label>
    <input class="controls" type="date" id="fecha" [(ngModel)]="factura.fecha"/>

    <label class="labels" for="descripcion">Descripciòn</label>
    <input class="controls" type="text" id="descripcion" placeholder=" descripcion de factura" [(ngModel)]="factura.descripcion"/>

    <label class="labels" for="importe">Importe</label>
    <input class="controls" type="text" id="importe" placeholder=" importe en soles" [(ngModel)]="factura.importe"/>

    <button class="button" (click)="onDatos()">Realizar Factura</button>
  </div>
  <div class="table-list">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">CODIGO</th>
          <th scope="col">DNI</th>
          <th scope="col">FORMA DE PAGO</th>
          <th scope="col">DESCRIPCION</th>
          <th scope="col">FECHA</th>
          <th scope="col">IMPORTE</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas; index as i">
          <th>{{ factura.codigo}}</th>
          <td>{{ factura.DNI }}</td>
          <td>{{ factura.formaPay }}</td>
          <td>{{ factura.descripcion }}</td>
          <td>{{ factura.fecha }}</td>
          <td>{{ factura.importe }}</td>
          
          <td><button class="btn btn-warning"><img src="../assets/pencil-square.svg" alt=""></button></td>
          <td><button class="btn btn-danger" (click)="onDelete(i)"><img src="../assets/trash.svg" alt=""></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>